@using Meeting_Scheduler.Areas.HelpPage
@model Meeting_Scheduler.Areas.HelpPage.SampleGeneration.InvalidSample

@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div class="warning-message-container">
        <p>@Model.ErrorMessage</p>
    </div>
}
else
{
    <p>Sample not available.</p>
}